.single-movie-wrapper {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 24px auto;
  border-radius: 8px;
  overflow: hidden;
}

.single-product-img {
  height: 600px;
  width: 450px;
  object-fit: cover;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 15px;
  text-align: left;
}

.movie-details h2 {
  margin: 0px 0px 10px 0px;
}

.movie-details p {
  font-weight: 600;
  font-size: 16px;
  margin: 0px 0px 8px 0px;
}
